.footer
  width 100%
  overflow hidden
  background #1C1C1C
  position absolute
  bottom 0
  .fonntet_conten
    width 1200px
    height 120px
    margin 0 auto
    overflow hidden
    .fonnter_wrap
      width 228px
      overflow hidden
      margin 0 auto
      margin-top 30px
      .span_we
        display block
        float left
        font-family PingFangSC-Medium
        font-size 16px
        color #999999
      .span_disclaimer
        display block
        float right
        font-family PingFangSC-Medium
        font-size 16px
        color #999999
        cursor pointer
    .cooyr
      height 17px
      opacity 0.4
      font-family PingFangSC-Medium
      font-size 12px
      color #FFFFFF
      line-height 17px
      text-align center
      margin-top 20px
      ._change_password
        width 460px
        height 495px
        background #ffffff
        border-radius 4px
